/* #components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
} */
.zy{
  background-color: white;
  width: 500px;
  height: 320px;
  margin: 0 auto;
  margin-top: 100px;
}